
.frame{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50vw;
  height: 80vh;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}
.square{
  width:33%;
  height: 33%;
  font-size: 5rem;

}

.current-player{
width: 100vw;
color: white;
text-align: center;
height: 50px;
font-size: 40px;
}

.winner{
width: 100vw;
color: white;
text-align: center;
height: 50px;
font-size: 40px;
}

.winner-modal{
  width: 80vw;
  height: 85vh;
  background-color: rgb(128, 83, 0);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  color: white;
  border-radius: 25px;

}

#restart-button{
  width: 50%;
  height: 100px;
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 15px;
  font-size: 30px;
  color: black;
  cursor: pointer;
  margin-top: 20px;
  box-shadow: 0px 0px 10px black;
}






